<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    This is the home page
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !!!</p>
    <a href="{% url 'logoutfromsite' %}">Logout</a>

    <div>
        {% for i in questions %}
        <img src="{{ i.image.url }}">
        {% endfor %}
    </div>


    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
</body>

</html>